/*
*Sienna Viera
*5/1/18
*Box Model
*/


h1{
	height:40px;
	width:470px;
	border:2px dotted black;
	padding:20px 10px 20px 20px;
	margin:20px 10px 20px 10px;
}

p{
	height:40px;
	width:480px;
	border:2px dotted black;
	padding:20px 10px 20px 10px;
	margin:20px 10px 20px 10px;
}

main{
	height:200px;
	width:530px;
	border:2px solid black;
	padding:10px 20px 20px 20px;
	margin:20px 10px 20px 10px;
}

body{
	height:257px;
	width:670px;
	border:2px dotted black;
	padding:10px 20px 20px 20px;
	margin:20px 10px 20px 10px;
}