/*
*Sienna Viera
*4/18/18
*CSS Assignment
*/


header{text-align: center;
background-color:#ff6666;
}

body{
	background-color:#FDE2F3;
	color:black;
	font-style:bold;
	font-family:sans-serif;
}

h2{font-family:cursive; 
font-size:300%; 
text-decoration:underline; 
}

h3{font-family:cursive; 
font-size:200%; 
text-decoration:underline; 
}

p{
color:black;}
{background-color:pink;
font-family:arial;
}

a:hover{color:#EC58EF;
font-size:200%;
}

.right{
float:right;
height:200px;width:300px;
}
