/*
*Sienna Viera
*3/28/18
*CSS Assignment
*/


body{
	background-color:lightpink;
	color:black;
	font-style:bold;
}

h1{font-family:Ariel; 
font-size:400%; 
text-align: center ;
text-decoration: overline underline; background-color:#D58ADB; 
}

p{background-color:white;
color:#A73DAF;}
{background-color:pink}

img{
float: right;
height:200px;width:300px; }

#next_para{ clear:right; }